@import './utils/colors';
@import './utils/variables';
@import './components/body';
@import './components/header';
@import './components/logo';
@import './components/contacts';
@import './components/hero';
@import './components/about';
@import './components/team';
@import './components/clients';
@import './components/buttons';
@import './components/portfolio';
@import './components/footer';
@import './components/modal';
