.about {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.167;
  margin-bottom: 50px;
}
.about__list {
  display: flex;
  flex-basis: calc(100% / 3 - #{$gridItemMargin});
}
.about__item {
  position: relative;
}

.about__title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-align: center;
  color: getColor('whiteColor');
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

.about__item {
  .about__list & {
    margin-right: 30px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 4px;
  }
  &:last-child {
    margin-right: 0;
  }
}
