// /* Buttons */
.btn-container {
  display: flex;
  justify-content: center;
}

.hero__btn {
  background-color: getColor('accent-color');
  color: getColor('whiteColor');
  font-size: 16px;
  font-weight: 700;
  line-height: 1.85;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 32px;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:active {
    background-color: getColor('btnPrimaryColor');
  }
}

.btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  background-color: getColor('otherBackgroundColor');
  color: getColor('primaryTextColor');
  padding: 6px 22px;
  border: none;
  font-family: inherit;
  outline: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover,
  &:active {
    background-color: getColor('accent-color');
    color: getColor('whiteColor');
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}
.portfolio__btn {
  margin-left: 8px;
  &:first-child {
    margin-left: 0;
  }
}
