.clients__container {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.178;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  max-width: 480px;
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.167;
  }
}
.clients {
  display: block;
  align-items: center;
  justify-content: center;
  flex-basis: calc(100% / 2 - 30px);
  margin-bottom: 94px;
  @media screen and (min-width: 768px) {
    display: flex;

    flex-basis: calc(100% / 2 - 30px);
    margin-top: 50px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-basis: calc(100% / 4 - 30px);
  }
}

.clients__list {
  display: block;
  max-width: 100%;
  height: auto;
  justify-content: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  margin-right: 30px;
  @include bordered($socialLinksColor);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    display: flex;

    flex-basis: calc(100% / 2 - 30px);
    margin-top: 50px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-basis: calc(100% / 4 - 30px);
    &:last-child {
      margin-right: 0;
    }
  }

  &:hover,
  &:focus {
    border-color: getColor('accent-color');
    fill: getColor('accent-color');
  }
}

.clients__img {
  fill: var(--social-links-color);
  list-style: none;
  text-decoration: none;
  @extend %displayFlex;
  padding: 16px 32px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
}
