.clients__container {
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    // padding-top: 94px;
  }
}

.clients__text {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.178;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.167;
    margin-top: 94px;
    // margin-bottom: 50px;
  }
}
.clients {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  width: 480px;
  align-items: center;
  text-align: center;
  height: auto;
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 79px;
    width: 1200px;
  }
}

.clients__list {
  display: flex;
  align-items: center;
  // max-width: 100%;
  height: 92px;
  justify-content: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  margin-left: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 60px) / 2);
  @include bordered($socialLinksColor);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  // @media screen and (min-width: 768px)
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 90px) / 3);
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-basis: calc((100% - 180px) / 6);
    margin-bottom: 0;

    &:first-of-type {
      margin-left: 30px;
    }
  }

  &:hover,
  &:focus {
    border-color: getColor('accent-color');
    fill: getColor('accent-color');
  }
}

.clients__img {
  fill: var(--social-links-color);
  list-style: none;
  text-decoration: none;
  @extend %displayFlex;
  padding: 16px 32px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
}
