.header__contacts {
  display: none;
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header__details {
  margin-right: 50px;
  margin-left: auto;
  margin-bottom: 0;
  padding: 0;
  transition: color 50ms cubic-bezier(0.4, 0, 0.2, 1), fill 50ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }

  &:hover,
  &:active {
    fill: getColor('accent-color');
    color: getColor('accent-color');
  }
  &:last-child {
    margin-right: 0;
  }
}
.link:hover,
.link:focus,
.link:active {
  color: getColor('accent-color');
}

.header__icons {
  display: inline-block;
  align-items: center;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  stroke-width: 0;
  stroke: currentColor;
}
