.page-header {
  background-color: getColor('whiteColor');
  text-decoration: none;
  @include bordered($borderColor1);
  @extend %displayFlex;
  justify-content: space-between;
  width: 100%;

  padding-right: 10px;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  @extend %displayFlex;
  justify-content: space-between;

  // @media screen and (min-width: 768px) {
  //   max-width: 768px;
  // }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    align-items: center;
  }
}
.header__list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.header__item {
  margin-right: 50px;
  margin-left: auto;
  align-items: baseline;
  margin-bottom: 0;
  &:last-child {
    margin-right: 0;
  }
}
.menu__button {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  outline: none;
  & .menu__cross {
    display: none;
  }
  &.is-open .menu__cross {
    display: block;
  }
  &.is-open .menu__icon {
    display: none;
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.link {
  position: relative;
  color: getColor('primaryTextColor');
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  text-decoration: none;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .header__list & {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header__link {
  color: getColor('secondaryTextColor');
}

.current {
  color: getColor('accent-color');

  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: getColor('accent-color');
    border-radius: 2px;
    bottom: -3px;
  }
}
