.hero {
  color: getColor('whiteColor');
  background-color: getColor('accent-color');
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/overlay.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-decoration: none;
  margin: 0;
  border-radius: 4px;
  padding: 200px 15px;
  max-width: 1600px;
  width: 100%;
  display: inline-block;
  align-items: center;
}

.slogan {
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero__container {
  display: flex;
  flex-basis: calc(100% / 4 - 30px);
}
.hero__img {
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: getColor('otherBackgroundColor');
  border-radius: 4px;
  border-color: rgba(245, 244, 250, 1);

  &:hover,
  &:focus {
    border-color: getColor('accent-color');
    fill: getColor('accent-color');
  }
}
.hero__icon {
  fill: getColor('primaryTextColor');
  &:hover,
  &:focus {
    border-color: getColor('accent-color');
    fill: getColor('accent-color');
  }
}
.hero__discr {
  margin-right: 30px;
  text-align: left;
  &:last-child {
    margin-right: 0;
  }
}

.hero__items {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.hero__details {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: getColor('secondaryTextColor');
}
